* {
    font-family: sans-serif;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

#backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
    z-index: 1;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%) ;
    transform: translate(-50%, -50%);
    background-color: white;
    width: fit-content;
    opacity: 100%;
    z-index: 2;
    padding: 20px;
    border: black 2px solid;
    border-radius: 15px;
}

#content>form {
    display: flex;
    flex-direction: column;
}

#content>form>input[type="text"] {
    margin: 15px 0
}

.author {
    font-weight: bold;
}

.message.private {
    color: blue;
}

.message.winners {
    color: green;
}